
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="/Season/Show" method="GET">
    <input type="number" name="temperature"/>

    <input type="submit" value="View the Season!"/>
</form>