
@{
    ViewBag.Title = "Show";

    // Presents information about the season

    string url = "/Content/images/" + ViewBag.Season + ".jpg";
}

<h2>Show</h2>

<p>The season is @ViewBag.Season !</p>

<figure>
    <figcaption class="temp">@ViewBag.Temp &#8451;</figcaption>
    <img src="@url" alt="@ViewBag.Season " width="500" height="250" />
</figure>
